/* * {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */
body {
  background: rgba(0, 0, 0, 0.25);
}

small {
  font-size: 75%;
}

label {
  margin: 0 !important;
}

.hide {
  display: none !important;
}

#local-stream {
  display: block;
}

#local-stream.connected {
  background: transparent;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  height: 20vh;
  width: 28vw;
  z-index: 2;
  margin-top: 18px;
  margin-right: 18px;
}

#remote-stream {
  background: rgb(231, 231, 231);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
#remote-stream.connected {
  display: block;
}
video {
  object-fit: cover !important;
}
video[id^='local-media-'] {
  height: 100%;
  width: 100%;
  object-fit: cover !important;
}
video[id^='remote-media-'] {
  height: 100%;
  width: 100%;
  object-fit: cover !important;
}

#call-header,
#call-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#call-countdown {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  text-shadow: 1px 1px #afafaf;
}

#call-countdown > h3 span {
  font-size: 1.35rem !important;
}

#call-countdown #countdown {
  margin-top: 5px;
}

#call-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
}

#call-cancel {
  display: flex;
  justify-content: center;
}

#call-header h5 {
  text-transform: capitalize;
}
#call-connected,
#call-connecting {
  display: flex;
  justify-content: center;
  align-items: center;
}

#call-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  z-index: 2;
}
#call-footer i {
  font-size: 17px;
}
#call-footer .reject {
  transform: rotate(225deg);
}
#call-button-spacer {
  width: 20%;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.medical-card {
  background: #fff;
  color: #666666;
  /* margin: 24px 16px; */
  border-radius: 8px;
  transform: translateZ(0px);
  transition: transform 500ms cubic-bezier(0.12, 0.72, 0.29, 1) 0s,
    -webkit-transform 500ms cubic-bezier(0.12, 0.72, 0.29, 1) 0s;
  font-size: 14px;
  box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
  overflow: hidden;
  margin-bottom: 20px;
}

.medical-header {
  background: #f5f5f5;
  padding: 10px;
  font-size: 1.1rem;
  border-bottom: 1px solid #c8c7cc;
}

.medical-profile {
  display: flex;
  justify-content: space-evenly;
}

.medical-avatar img {
  /* height: 100%; */
  width: 100%;
  border-radius: 50%;
}

.medical-avatar {
  height: 36px;
  width: 36px;
}

.text-right {
  text-align: right;
}

.medical-profile {
  padding: 16px;
}
.medical-profile-info {
  padding: 6px;
  border-bottom: 1px solid #c8c7cc;
}
.medical-profile-info p {
  margin: 0 !important;
}

.align-center {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 100%;
}

/* div.medical-detail > div.item > p {
  margin: 0 !important;
} */
.medical-detail {
  margin: 15px;
}
.medical-detail > div.item > p:nth-child(1) {
  margin: 0 !important;
}
.medical-detail > div.item > p:nth-child(2) {
  margin-top: 10px !important;
  margin-bottom: 0 !important;
  padding-bottom: 25px;
}
.medical-detail > div.item {
  border-bottom: 1px solid #c8c7cc;
  margin-bottom: 8px;
}
.medical-detail > div.item:last-child {
  border-bottom: 0px;
}
.label-gray {
  color: rgba(0, 0, 0, 0.4);
}
